{% extends 'layout.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<h2>Home Page</h2>
<p>Welcome back, {{ username }}!</p>
<br>
<h1>To convert image to text</h1>

<button class="GFG" 
    onclick="window.location.href = 'https://colab.research.google.com/drive/1x8QZzgYThTwa0L7VwUn_15k_BHTP1AzX#scrollTo=gLusMbAfyX8I';"> 
        Click Here!! 
    </button>   
<h1>To convert pdf  to image</h1>

<button class="GFG" 
    onclick="window.location.href = 'https://colab.research.google.com/drive/1Amw1-ctbFgneVtCjkRE6s9QHs4_gr6Qa#scrollTo=57bQ-DQhS5na';"> 
        Click Here!! 
    </button> 
{% endblock %}